@font-face {
    font-family: Scrawl;
    src: url(/static/Scrawl.ttf);
}
body {
    color: white;
    background-color: black;
    font-size: 2em;
    font-family: Scrawl;
    text-align: center;
    white-space: pre-line;
}
pre {
    display: block;
    font-family: Scrawl;
    text-align: left;
    border: 0.2em white double;
}
a:link, a:visited {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: white;
}
a.gt::before {
    content: '\00a0\00a0'
}
a.gt:hover::before {
    content: '>\00a0'
}
label input[type="checkbox"] {
    margin-left: 0.5em;
}
table,th,td {
    border: 3px solid gray;
    margin: 3px;
}
table {
    font-size: inherit;
    text-align: left;
    width: 25em;
}
tbody {
    width: 25em;
}
td.size {
    text-align: center;
    width: 5em;
    font-size: 0.75em;
}
td.letterlink {
    text-align: center;
    font-size: 0.75em;
}